@model ManageClient.Models.FileModel
@{
    ViewData["Title"] = "Account Page";
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <script src="~/lib/jquery/dist/jquery.js"></script>
    <link rel="stylesheet" href="~/css/Sidebar.css" />
    <link rel="stylesheet" href="~/css/Account.css" />
    <script src="/js/Account.js"></script>


</head>

<body>
    <h3>Select file for upload</h3>
    <div>
        <button id="file_btn">Select file</button>
        <form asp-action="AddFile" asp-controller="Account" method="post" enctype="multipart/form-data">

            <input type="file" id="uploadfile" style="display:none" asp-for="file" />

            <br>


            <input id="upload_input" type="submit" value="upload" style="display:none" />
        </form>
    </div>
    <hr />


    @if (ViewBag.photo != null)
    {
        for (int index = 0; index < ViewBag.photo.Count; index++)
        {

            <div class="card" id="@ViewBag.photo[index]._id" data-toggle="dropdown" aria-haspopup="true" href="@ViewBag.photo[index].base64"
                 resource="@ViewBag.photo[index].type_image" title="@ViewBag.photo[index].name_image" aria-expanded="false">

                <img class="image_decode" src="data:image/png;base64,@ViewBag.photo[index].base64" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" />
                <div class="card-body">
                    <h6 class="card-title">@ViewBag.photo[index].name_image</h6>
                    <div class="dropdown">

                        <button class="dropdown-button" data-toggle="dropdown">
                            <img src="/icon/dropdown_icon.png" style="width:25px;height:25px;" />
                        </button>

                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                            <a class="dropdown-item open_file">Open</a>
                            <a class="dropdown-item delete_file">Delete</a>
                            <a class="dropdown-item download_file">Download</a>
                            
                        </div>
                    </div>
                </div>

            </div>



        }
    }
    @if (ViewBag.doc_data != null)
    {

        @for (int index = 0; index < ViewBag.doc_data.Count; index++)
        {

            <div class="card" id="@ViewBag.doc_data[index]._id" href="@ViewBag.doc_data[index].base64" resource="@ViewBag.doc_data[index].type_doc"
                 title="@ViewBag.doc_data[index].name_doc" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">


                <img src="/icon/file_icon.png" class="card-img-top">
                <div class="card-body">
                    <h6 class="card-title">@ViewBag.doc_data[index].name_doc</h6>
                    <div class="dropdown">

                        <button class="dropdown-button" data-toggle="dropdown">
                            <img src="/icon/dropdown_icon.png" style="width:25px;height:25px;" />
                        </button>

                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                            <a class="dropdown-item open_file">Open</a>
                            <a class="dropdown-item delete_file">Delete</a>
                            <a class="dropdown-item download_file">Download</a>
                           
                        </div>
                    </div>
                </div>

            </div>

            <audio id="audio_controls" controls src="data:audio/1;base64,1" style="display:none"></audio>

            
            <video controls id="video_controls" style="display:none">
                <source src="data:video/1;base64,1">
                
            </video>

            <img id="image_controls" src="1" style="display:none" />

            <p id="warning_text" style="display:none">
                This File can not display,unsupported format.
                You can download him on the dashboard.
            </p>
            <p id="back" style="display:none;cursor:pointer">Back</p>
        }
    }



</body>
</html>